@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #393E46;
  max-width: 360px;
  margin: 0 auto 200px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00ADB5;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover, .form button:active, .form button:focus {
  background: #00ADB5;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #00ADB5;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos generales del contenedor del DatePicker */
.date-picker-field {
  margin: 10px 0;
}

/* Estilos para el campo de entrada del DatePicker */
.date-picker-field .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Estilos para el campo de entrada cuando está enfocado */
.date-picker-field .form-control:focus {
  border-color: #00ADB5;
  outline: none;
}

/* Estilos del calendario del DatePicker */
.react-datepicker__triangle {
  display: none; /* Oculta el triángulo que apunta hacia el campo de entrada */
}

.react-datepicker {
  font-family: "Roboto", sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-datepicker__header {
  background-color: #00ADB5;
  color: #FFFFFF;
  border: none;
  padding: 10px;
}

.react-datepicker__current-month {
  font-size: 16px; /* Tamaño del texto del mes actual */
  font-weight: bold;
}

.react-datepicker__day-name {
  font-size: 14px; /* Tamaño del texto de los nombres de los días */
  font-weight: bold;
}

.react-datepicker__day {
  font-size: 14px; /* Tamaño del texto de los días */
  line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
}

.react-datepicker__day--selected {
  background-color: #00ADB5; /* Color de fondo para el día seleccionado */
  color: #FFFFFF; /* Color del texto del día seleccionado */
}

.react-datepicker__day--keyboard-selected {
  background-color: #007bff; /* Color de fondo para el día seleccionado con teclado */
  color: #FFFFFF; /* Color del texto del día seleccionado con teclado */
}

.react-datepicker__day--disabled {
  color: #CCCCCC; /* Color para los días deshabilitados */
}

.react-datepicker__month-container {
  border-radius: 4px;
}

.react-datepicker__input-container {
  display: block;
}
